/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white; 
  font-family: "Poppins", serif; 
}

.home-page {
  position: relative; 
  padding-top: 60px;
  overflow: hidden; 
}

.home-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/svg/backgroundimage.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  opacity: 0.7; 
}

.home-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 15px;
  padding: 10px;
  position: relative;
  max-width: 1200px;
  width: 100%;
  mix-blend-mode: multiply;
}

.home-page-tagline {
  margin-right: 10px;
}

.home-heading {
  color: rgb(37, 37, 37);
  width: 400px;
  background-color: transparent;
}

.home-heading h3 {
  font-size: 40px;
  margin-right: 90px;
  font-weight: 500;
  color: rgb(37, 37, 37);
}

.home-heading h2 {
  font-size: 45px;
  margin-top: -15px;
  color: rgb(37, 37, 37);
}

.home-googleplay {
  max-width: 200px;
  margin-left: 2px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.home-googleplay:hover {
  transform: scale(1.06); 
}

.home-page-image {
  margin-left: 10px;
  max-width: 600px;
  width: 100%;
  height: auto; 
}

/* Responsive Design for Tablets (max-width: 768px) */
@media (max-width: 768px) {
  .home-page-container {
    flex-direction: column; 
    gap: 2rem; 
    padding: 1rem;
    text-align: center; 
  }

  .home-heading {
    width: 100%; 
  }

  .home-heading h3 {
    font-size: 30px; 
    margin-right: 0; 
  }

  .home-heading h2 {
    font-size: 35px; 
    margin-top: -10px;
  }

  .home-googleplay {
    margin: 0 auto; 
  }

  .home-page-image {
    max-width: 300px;
    margin: 0 auto;
  }

  .home-page {
    background-attachment: scroll; 
  }

  .home-page::before {
    background-size: cover; 
    margin-top: -120px;
  }
}

/* Responsive Design for Mobile (max-width: 480px) */
@media (max-width: 480px) {
  .home-page-container {
    gap: 1rem; 
    padding: 1rem;
  }

  .home-heading h3 {
    font-size: 25px; 
  }

  .home-heading h2 {
    font-size: 30px; 
    margin-top: -10px; 
  }

  .home-googleplay {
    max-width: 150px; 
  }

  .home-page-image {
    max-width: 250px; 
    margin: 0 auto;
  }

  .home-page {
    padding-top: 40px; 
  }

  .home-page::before {
    background-size: cover; 
    background-position: top center; 
  }
}
